# Ignore compiled files
*.net

# Ignore backup files
intellihomie-roboplatform-backups/
*~
*.lck
\#auto_saved_files\#
_autosave*


# Ignore cache files
fp-info-cache

# Ignore KiCad library files
sym-lib-table
Libs/*.bak

